/* .test{
    position: relative;
    display: flex;
  height: 250px;
  width: 100%;
  color: #fff;
  margin: 0 15px;
  font-size: 4em;
  overflow-x:auto ;
} */

.jtKTCe button {
    display: none;
}

.kXteup{
    display: none;
}

.Slxdj {
    display: none;
}

.fAVBsF{
    overflow: visible !important;
    height: 100%;
}

.dQEjUh{
    overflow: visible !important;
    height: 100%;
}